<span class="inline-flex">
  <span class="aria-label !text-[0px] !leading-[0px]">Instagram</span>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0948 1H5.90521C3.19614 1 1 3.19614 1 5.90521V18.0948C1 20.8039 3.19614 23 5.90521 23H18.0948C20.8039 23 23 20.8039 23 18.0948V5.90521C23 3.19614 20.8039 1 18.0948 1ZM16.6653 11.7699C16.6653 14.4736 14.4735 16.6653 11.7699 16.6653C9.06621 16.6653 6.87446 14.4736 6.87446 11.7699C6.87446 9.06627 9.06621 6.87452 11.7699 6.87452C14.4735 6.87452 16.6653 9.06627 16.6653 11.7699ZM17.6444 7.85356C18.7258 7.85356 19.6025 6.97686 19.6025 5.8954C19.6025 4.81393 18.7258 3.93723 17.6444 3.93723C16.5629 3.93723 15.6862 4.81393 15.6862 5.8954C15.6862 6.97686 16.5629 7.85356 17.6444 7.85356Z" fill="#686868"/>
  </svg>
</span>
