<span class="inline-flex">
  <span class="aria-label !text-[0px] !leading-[0px]">Youtube</span>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M22.8586 6.75362C22.8586 4.76149 21.4362 3.15893 19.6786 3.15893C17.2978 3.04427 14.8697 3 12.3884 3H11.6149C9.13957 3 6.70723 3.04427 4.32646 3.15937C2.57312 3.15937 1.15067 4.77079 1.15067 6.76292C1.04324 8.33847 0.997683 9.91447 1.00026 11.4905C0.995964 13.0665 1.04467 14.6439 1.14637 16.2229C1.14637 18.215 2.56882 19.8309 4.32217 19.8309C6.82326 19.9504 9.38882 20.0035 11.9974 19.9991C14.6102 20.0079 17.1686 19.9519 19.6725 19.8309C21.4302 19.8309 22.8526 18.215 22.8526 16.2229C22.9558 14.6425 23.003 13.0665 22.9987 11.486C23.0085 9.91005 22.9618 8.33257 22.8586 6.75362ZM9.89592 15.8333V7.13434L16.1272 11.4816L9.89592 15.8333Z" fill="#686868"/>
  </svg>
</span>
