<span class="inline-flex">
  <span class="aria-label !text-[0px] !leading-[0px]">Facebook</span>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M18 1H14.4545C12.8874 1 11.3844 1.57946 10.2762 2.61091C9.16802 3.64236 8.54545 5.04131 8.54545 6.5V9.8H5V14.2H8.54545V23H13.2727V14.2H16.8182L18 9.8H13.2727V6.5C13.2727 6.20826 13.3972 5.92847 13.6189 5.72218C13.8405 5.51589 14.1411 5.4 14.4545 5.4H18V1Z" fill="#686868"/>
  </svg>
</span>
