<a
  rel="nofollow"
  href="{{ href }}"
  class="
  font-normal
  {% if text-base == true %}text-base
  {% else %}
    text-lg{% endif %}
  link-btn relative w-fit inline-block cursor-pointer">
  {{- text -}}
  <div class="link_line"></div>
</a>