<span class="inline-flex relative">
  <span class="aria-label !text-[0px] !leading-[0px] absolute left-0">Youtube</span>
  <svg
    width="32"
    height="25"
    viewBox="0 0 32 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="{{ class }} stroke"
  >
    <path d="M26.2857 0.819336H5.71425C3.18952 0.819336 1.14282 2.86603 1.14282 5.39076V19.1051C1.14282 21.6298 3.18952 23.6765 5.71425 23.6765H26.2857C28.8104 23.6765 30.8571 21.6298 30.8571 19.1051V5.39076C30.8571 2.86603 28.8104 0.819336 26.2857 0.819336Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.1371 17.5509V7.95086C12.1323 7.78878 12.1719 7.62848 12.2514 7.48719C12.331 7.34591 12.4476 7.22901 12.5887 7.14907C12.7297 7.06913 12.8899 7.02918 13.052 7.03352C13.2141 7.03787 13.3719 7.08634 13.5085 7.17372L21.7371 11.9737C21.8746 12.0544 21.9886 12.1696 22.0678 12.3079C22.147 12.4462 22.1887 12.6029 22.1887 12.7623C22.1887 12.9217 22.147 13.0783 22.0678 13.2167C21.9886 13.355 21.8746 13.4702 21.7371 13.5509L13.5085 18.3509C13.3689 18.4315 13.2105 18.4737 13.0493 18.4734C12.8881 18.473 12.7299 18.43 12.5907 18.3488C12.4514 18.2676 12.3362 18.151 12.2565 18.0109C12.1768 17.8707 12.1357 17.712 12.1371 17.5509V17.5509Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</span>
