section.contact-header{
    margin-bottom: -40px !important;
    margin-top: 30px;
  }

  .errors li a {
    color: var(--error-font-color);
    font-weight: 600;
    text-decoration: underline;
  }

  
  .contact-wrapper{
    display: flex;
    justify-content: space-between;
  }
  
  .contact-wrapper .contact-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 45%;
  }
  
.form-title{
  color:var(--secondary-theme-color);
}

  .contact-img{
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0px 60px 128px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .contact-img .placeholder_main{
    height: 100%;
    overflow: hidden;
  }
  .contact-img .placeholder_main svg{
    transform: scale(3);
    transition: .8s ease;
  }
  
  .contact-img:hover .placeholder_main svg{
    transform: scale(2.7);
  }
  
  
  .contact-img .img-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
  }
  .contact-img .image-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 30;
  }
  
  .contact-img .address-div{
    display: flex;
    gap: 1.5rem;
  }
  
  .contact-img .address-div .address_title{
    font-weight: 600;
  }
  
  .contact-img .address p{
    padding: 0;
  }
  
  .contact-img .contact-logo{
    width: 180px;
    height: fit-content;
  }
  
  .form-div{
    display: flex;
    flex-direction: column;
    padding: 0 0 120px ;
  }
  
  .form-div h2{
    color: var(--secondary-theme-color);
    font-weight: 400;
  }
  
  form.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  width: 100%;
    margin-top: 30px;
  }
  
  
  
  form.contact-form > div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 16px;
  }

  form.contact-form .input-group {
    display: block;
  }

  form.contact-form .form-input .theme-btn{
    padding: 0;
    width: 100%;
  }
  
  .theme-btn .btn-text{
    justify-content: center;
  }

  
  form.contact-form input,form.contact-form textarea{
    
    outline: none;
    border: 1px solid var(--color-btn-primary);
    padding: 12px;
    line-height: 1;
  }
  
  form.contact-form textarea{
    min-height: 80px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
  }
  
  form.contact-form .theme-btn{
    padding: 0;
    width: fit-content;
  }
  
  form.contact-form .btn-text{
    width: 100%;
  }
  form.contact-form .theme-btn input{
    padding: 10px 50px;
     width: 100% !important;
     background-color: transparent;
     border: none;
     color: var(--color-btn-primary-text);
     line-height: 1.9;
     cursor: pointer;
     width: 140px;
  }
  
  .footer-menu {
    border-top: none !important;
  }
  
  @media screen and (max-width:1280px){
    .form-div h2{
      font-size: 40px;
    }
  
    .contact-wrapper .contact-right{
      width: 50%;
    }
  
  }
  
  @media screen and (max-width: 420px){
    .form-div h2{
      font-size: 36px;
    }
  }
  
  @media screen and (max-width:980px){
    .contact-wrapper{
      flex-direction: column-reverse;
      gap: 20px;
    }
    .form-div{
      padding: 0;
    }
    .contact-wrapper .contact-right{
      position: relative;
      width: 100% !important;
      height: 100%;
      margin-bottom: 40px;
    }
    form.contact-form{
      width: 100%;
    }
    section.contact-header{
      margin-bottom: -3px !important;
    }
    .contact-img{
      padding: 40px 20px;
    }
  }
  
  @media screen and (max-width:768px){
    section.contact-header{
      margin-top: 0 !important;
    }
    .submit.theme-btn{
      max-width: 100% !important;
    }
  }