.filter-active{
  display: flex;
    align-items: center;
    gap: 6px;
}

.filter-group-display__submit.text-btn {
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
}

aside form summary span{
  font-size: var(--secondary-h5-font-size);
    font-weight: 600;
    font-family: var(--primary-font-family);
}


.section-header {
  color: #333;
  margin: 0 0 40px 0;
  line-height: 26px;
  font-weight: 600;
}
.search-grid{
  display: grid;
}
.searchgrid--footer {
  padding-top: 48px;
  margin-top: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.search_filter_title{
  margin-bottom: 30px;
}
.search_filter_modal .close-sidebar{
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;  
  background-color: transparent;
  border: none;
}
.search_filter_modal .filter_clear{
  text-decoration: underline;
  text-underline-offset: 2px;
}
.search_filter_modal .filter_group{
  margin-top: 16px;
  margin-bottom: 20px;
}
.search_filter_modal .price-div{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_filter_modal .checkbox-input{
  width: 20px;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  position: relative;
  border-radius: 3px;
}
.search_filter_modal .filter-list label{
  display: flex;
  align-items: center;
  gap: 3px;
}
.search_filter_modal .checkbox-input input{
width: 100%;
height: 100%;
opacity: 0;
visibility: hidden;
z-index: 99;
}
.search_filter_modal .checkbox-input svg{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;  
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
}
.search_filter_modal .checkbox-input.color-input svg{
  mix-blend-mode: difference;
}
.search_filter_modal .color-input .color-shape{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 20;
  border-radius: 3px;
  transition: .3s ease;
  top: 0;
}
.search_filter_modal .checkbox-input input:checked ~ svg{
  opacity: 1;
}
.search_filter_modal .color-input input:checked ~ .color-shape{
  transform: scale(.6);
}
.search_filter_modal .close-sidebar svg{
  width: 16px;
  height: 16px;
}
#search_filters{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 40px;
  gap: 40px;
}
.filter_remove{
  display: flex;
  flex-direction: column;
}

#search_filters summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search_filters summary svg{
  width: 20px;
  height: 20px;
  transition: .3s ease;
}
#search_filters summary svg.active{
  transform: rotate(180deg);
}
#search_filters details ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#search_filters details input{
  border: none;
  outline: none;
}
.search_filter_modal *::placeholder{
  opacity: .5;
}
#search_filters details .price_input{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  border-width: 1px;
  border-style: solid;
}
#search_filters details .price_input .currency_symbol{
  position: absolute;
  left: 10px;
  top: 0;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search_filters details .price_input input{
  width: 100%;
  height: 100%;
  padding: 8px 20px 8px 36px;
}
.search_filter_modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 999;
  background-color: #00000020;
  pointer-events: none;
  transition: .5s ease;
}
.search_filter_modal.modal-active{
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.filter-options{
  position: relative;
  padding: 60px 30px;
  max-width: 320px;
  width: 100%;
  height: 100%;  
}
.plain-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
.filter-button{
  margin-bottom: 24px;
}
.grid--footer-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  letter-spacing: 1px;
  color: #1d1d1d;
  text-transform: uppercase;
}
.grid--footer-item ul li {
  margin-bottom: 10px;
  display: block;
}

/* Sidebar */



@media screen and (max-width:1200px){

  .search-block .theme-btn{
    min-width: fit-content !important;
    margin-left: 20px !important;
  }
}

@media screen and (max-width:767px){
  .filter-options{
    max-width: 100%;
  }
  .search-block input[type="search"]{
    width: 100%;
  }
  .search-block button[type=submit]{
    margin: 20px auto 0 !important;
  }
}

@media screen and (max-width: 576px) {
  #search-listing .pure-u-md-1-3 {
    margin-bottom: 0px;
  }
  .grid--footer-item {
    margin-bottom: 24px;
  }
}


/* Product New Grid */

.product-grid-view .section-header {
  color: #333;
  margin: 0 0 40px 0;
  line-height: 26px;
  font-weight: 600;
}
.product-grid-view {
  margin: 20px 0;
}
.product-slider{
  padding-bottom: 60px;
}
.product-grid {
  position: relative;
  margin-bottom: 40px;
  transition: all 0.3s cubic-bezier(0.02, 0.07, 0.9, 0.99);
  max-width: 400px;
  margin: auto;
}
.product-grid.show-add-to-cart .product-add.show-button {
  display: block;
}
.product-grid.show-add-to-cart:hover .product-grid-hover {
  display: none;
}

.product-grid .product-button{
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: .3s ease;
}

.product-grid:hover .product-grid-hover, .product-grid .icon-wrap,.product-grid:hover .product-button{
  opacity: 1;
  visibility: visible;
}
.product-grid:hover .product-button{
  transform: translateY(0);
}

.product-image img{
  transition: .8s ease;
}
.product-slider .l-box{
  padding: 0;
}
.product-grid:hover .product-image img{
  transform: scale(1.2);
}
.product-grid .spinner-style2 {
  background: var(--body-background);
}
.product-grid .spinner-style2 div {
  background-color: #fff;
}
.product-grid .spinner-style1:after {
  content: '';
  position: absolute;
  width: 100px;
  left: -30px;
  height: 100%;
  background: var(--color-btn-primary-text);
  z-index: -1;
}
.product-grid .spinner-style1 .double-bounce1, .product-grid .spinner-style1 .double-bounce2 {
  background-color: var(--color-btn-primary);
}
.product-grid-inner {
  transition: 0.3s ease;
}
.product-grid-inner .price-wrap {
  min-width: 6rem;
}
.product-grid-view .product-collections {
  padding: 20px 0;
}
.product-grid-view .product-grid-view-inner h4 {
  margin-bottom: 40px;
}
.product-grid-view h4 {
  margin: 0px;
}

.grid--footer-item ul li a{
  text-decoration: underline;
}

.grid--footer-item ul li a:hover{
  text-decoration: none;
}

.product-grid-view .product-collections {
  padding: 60px 0;
}
.product-grid-view .product-collections .swiper-button-next, .product-grid-view .product-collections .swiper-button-prev {
  height: 32px;
  width: 54px;
  top: 25px;
  bottom: auto;
  transition: 0.3s all ease-in;
  border: none;
}
.product-grid-view .product-collections .swiper-button-next:after, .product-grid-view .product-collections .swiper-button-prev:after {
  font-size: 10px;
  font-weight: 600;
}
.product-grid-view .product-collections .swiper-button-prev {
  right: 50px;
}
.product-grid-view .product-collections .swiper-pagination.swiper-pagination-bullets {
  bottom: 0px;
}
.product-grid-view .product-collections .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  opacity: 0.6;
  border: 2px solid #000;
}
.product-grid-view .product-collections .swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}
.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 99;
}
.icon-wrap .icons {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 3px;
  cursor: pointer;
  padding: 0;
  border: none;
}
.icon-wrap .icons svg rect, .icon-wrap .icons svg path {
  transition: 0.3s ease;
}
.icon-wrap .icons:hover svg rect {
  fill: #000;
}

.icon-wrap .icons.product-wishlist svg path {
stroke: var(--tertiary-theme-color);
stroke-width: 20;
fill: none;
}
.icon-wrap .icons:hover button.wishlist-icon svg path,.icon-wrap button.wishlist-icon.active svg path {
  fill: var(--tertiary-theme-color) !important;
}

.icon-bookmark{
  width: 20px;
  height: 20px;
}
.product-image {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  max-height: 320px;
}
.product-image a {
  display: block;
  overflow: hidden;
}

.icon-wrap .product-button{
  position: absolute;
  bottom: 30px;
}

.icon-wrap .product-add .theme-btn{
  background-color: var(--body-background) !important;
}

.icon-wrap .icons{
  width: auto;
  height: auto;
}
.icon-wrap .product-wishlist{
  position: absolute;
  top: 0;
  right: 30px;
}
.product-image img {
  display: block;
  width: 100%;
}
.product-info{
  display: flex;
  justify-content: space-between;
}
.product-info h4 {
  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 0px;
}
.product-info a {
  color: var(--primary-font-color);
  letter-spacing: 1px;
}
.price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price-wrap p {
  font-size: var(--medium-font-size);
  margin: 0;
  line-height: 20px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  padding-bottom: 0;
}
.price-wrap p.strike {
  color: rgba(37, 50, 55, 0.5);
  font-style: italic;
  text-decoration: line-through;
  margin: 0;
  font-weight: 400;
}
.price-wrap p:last-child {
  margin: 0;
  padding-bottom: 0px !important;
}
.review-block p{
  color: var(--tertiary-theme-color);
}
.product-add {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.product-add.show-button {
  display: none;
}
.product-add .spinner-style2 > div {
  background-color: var(--color-btn-secondary);
}
.product-grid-hover {
  width: 100%;
  z-index: 20;
  transition: 0.3s ease;
}
.product-grid-view .swiper-button-prev {
  background-size: 32px;
}
.product-grid-view .swiper-button-prev:after {
  display: none;
}
.product-grid-view .swiper-button-next {
  background-size: 32px;
}
.product-grid-view .swiper-button-next:after {
  display: none;
}
.product-grid .placeholder-background {
  position: relative;
}

@media screen and (max-width:1024px){
  .product-slider {
    padding-bottom: 60px;
  }
}

@media screen and (max-width:980px){
  .search-grid{
    grid-template-columns: auto auto !important;
  }
}

@media screen and (max-width:540px){
  .search-grid{
    grid-template-columns: auto !important;
  }
  .swiper-slide {
    padding: 20px 0 0px;
  }
  .product-slider {
    padding-bottom: 30px;
  }
}



