body{
  overflow-x : visible;
}

section.password-main {
  opacity: 1!important;
  transform: translateY(0)!important;
}



.password-wrap {
  display: flex;
  flex-wrap: wrap;
}
.password-wrap .pass-image-wrap {
  position: relative;
  height: 100vh;
}
.password-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:1rem;
}

.password-main{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.password-inner{
  width: 550px;
  padding: 60px;
  margin: auto;
}

.customer-form form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width:80%;
}

.customer-form .title *{
  color: inherit !important;
}

.customer-form p{
  text-align: center;
}

.input-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-form input{
  padding: 10px 15px;
  border: 1px solid #00000060;
  outline: none;
  color: var(--primary-font-color);
  border-radius: var(--button-radius);
  transition: .3s ease;
}
.customer-form input[type=submit]{
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary);
}
.customer-form input[type=submit]:hover{
  opacity: .7;
}

.password-inner .customer-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.password-block#login p {
  font-size: 46px;
  margin: 0 0 40px 0;
  color: var(--primary-font-color);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.9;
}
.password-block#login form label {
  display: block;
  margin: 0 0 15px 0;
  color: var(--primary-font-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}
.password-block .content h2{
  margin-bottom: 20px;
}
.password-block#login form .actions {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}
.password-block#login form .actions input[type="password"], .password-block#login form .actions input[type="email"] {
  outline: none;
  border: 1px solid var(--color-btn-primary);
  padding: 10px 110px 10px 15px;
  font-size: 14px;
  color: #76809B;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.password-block#login form .actions input[type="password"] ::-webkit-input-placeholder, .password-block#login form .actions input[type="email"] ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #76809B;
}
.password-block#login form .actions input[type="password"] ::-moz-placeholder, .password-block#login form .actions input[type="email"] ::-moz-placeholder {
  /* Firefox 19+ */
  color: #76809B;
}
.password-block#login form .actions input[type="password"] :-ms-input-placeholder, .password-block#login form .actions input[type="email"] :-ms-input-placeholder {
  /* IE 10+ */
  color: #76809B;
}
.password-block#login form .actions input[type="password"] :-moz-placeholder, .password-block#login form .actions input[type="email"] :-moz-placeholder {
  /* Firefox 18- */
  color: #76809B;
}
.password-block#login form .actions input[type="submit"] {
  line-height: 20px;
  font-size: var(--small-font-size);
  font-weight: 600;
  padding: 8px 34px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  background: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
}
.password-block#login .form-success {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.errors li {
  color: var(--error-font-color);
}
.contact form {
  max-width: 470px;
}
.password form {
  max-width: 370px;
}
#owner {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
#owner a {
  font-weight: 700;
  font-style: italic;
  color: #0d00cc;
}
#powered {
  color: #BEBEBE;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
}
#powered a {
  color: #BEBEBE;
}
#footer {
  padding: 90px 0 0 0;
}

@media screen and (max-width:980px){
  .password-main{
    height: 100% !important;
  }
  .password-inner{
    padding: 30px;
    width:640px;
  }
  .customer-form form{
    width:50%
  }
}

@media screen and (max-width:640px){

  .password-inner{
    width:100%;
  }

  .customer-form form{
    width:100%
  }

}



@media only screen and (max-width: 768px) {
  .password-block#login p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .password-wrap {
    display: block;
  }
  .password-wrap .password-block {
    width: 100%;
  }
  .password-wrap .pass-image-wrap {
    display: none;
  }
  .password-block#login p {
    font-size: 30px;
  }
}
