.review-section .spr-summary.rte{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.review-section .spr-container{
    padding: 0 ;
    border: none ;
}

.review-section .spr-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-section .spr-starrating, .review-section .spr-starratings{
    color: var(--tertiary-theme-color);
}


.spr-summary-actions-newreview{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.spr-summary-actions-newreview:hover{
    text-decoration-thickness: 2px;
}