  
  .instagram_feed 
  {
    display:flex;
    flex-wrap:wrap;
  }
  .instagram_feed  a
  {
    width:33%;
    padding:0 15px 15px;
    
  }
  
  .instagram_feed a img{
          display: block;
  }

  @media screen and (max-width:768px){
    .instagram_feed a {
        width: 49%;
        padding: 0 10px 15px;
      }
      .instagram_feed a img{
        width:100%;
       }
  }

  @media screen and (max-width:576px){
    
  .instagram_feed a {
    width: 100%;
    padding: 0 10px 15px;
  }
  }