<div class="accordion-items">
    <div class="accordion-inner">
        <div class="accordion-item active">
            <button class="accordion-heading">
                <span class="accordion-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                      <path d="M14 9.99963H8C6.93913 9.99963 5.92172 10.4211 5.17157 11.1712C4.42143 11.9213 4 12.9388 4 13.9996V21.9996H7" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M28 21.9996H30V7.99963C30 7.4692 29.7893 6.96049 29.4142 6.58542C29.0391 6.21034 28.5304 5.99963 28 5.99963H16C15.4696 5.99963 14.9609 6.21034 14.5858 6.58542C14.2107 6.96049 14 7.4692 14 7.99963V19.3596" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 21.9996H20" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11 25.9996C13.2091 25.9996 15 24.2088 15 21.9996C15 19.7905 13.2091 17.9996 11 17.9996C8.79086 17.9996 7 19.7905 7 21.9996C7 24.2088 8.79086 25.9996 11 25.9996Z" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M24 25.9996C26.2091 25.9996 28 24.2088 28 21.9996C28 19.7905 26.2091 17.9996 24 17.9996C21.7909 17.9996 20 19.7905 20 21.9996C20 24.2088 21.7909 25.9996 24 25.9996Z" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Shipping and Returns</p>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M0.5 3.85L6.65 10C6.69489 10.0478 6.74911 10.086 6.80931 10.112C6.8695 10.1381 6.9344 10.1515 7 10.1515C7.0656 10.1515 7.1305 10.1381 7.19069 10.112C7.25089 10.086 7.30511 10.0478 7.35 10L13.5 3.85" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="accordion-description">
                <span>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum praesentium quidem exercitationem porro consectetur, vel molestias velit eius assumenda iusto.
                </span>
            </div>
        </div>
        <div class="accordion-item">
            <button class="accordion-heading">
                <span class="accordion-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                      <path d="M8.70508 12.1094L13.811 3.94797C14.0089 3.62539 14.2869 3.35955 14.6181 3.17637C14.9492 2.99318 15.3222 2.89888 15.7006 2.90266V2.90266C15.9986 2.8919 16.2958 2.941 16.5745 3.04705C16.8533 3.1531 17.1079 3.31394 17.3234 3.52009C17.539 3.72623 17.711 3.97348 17.8293 4.24723C17.9476 4.52098 18.0099 4.81567 18.0124 5.11389V10.9636H26.8372C27.1633 10.9742 27.4834 11.0537 27.7766 11.1968C28.0698 11.34 28.3293 11.5436 28.5382 11.7942C28.747 12.0448 28.9005 12.3368 28.9884 12.651C29.0764 12.9652 29.0968 13.2944 29.0484 13.6171L27.4402 23.9898C27.3716 24.5441 27.1029 25.0543 26.6847 25.4245C26.2664 25.7947 25.7273 25.9993 25.1687 26H11.9817C11.354 26.0024 10.7344 25.8579 10.1725 25.5778L8.72518 24.8542" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M3.94065 12.1094H8.70485V24.7939H3.94065C3.67408 24.7939 3.41843 24.688 3.22994 24.4995C3.04144 24.311 2.93555 24.0553 2.93555 23.7887V13.1145C2.93555 12.848 3.04144 12.5923 3.22994 12.4038C3.41843 12.2153 3.67408 12.1094 3.94065 12.1094V12.1094Z" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Genuine Products</p>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M0.5 3.85L6.65 10C6.69489 10.0478 6.74911 10.086 6.80931 10.112C6.8695 10.1381 6.9344 10.1515 7 10.1515C7.0656 10.1515 7.1305 10.1381 7.19069 10.112C7.25089 10.086 7.30511 10.0478 7.35 10L13.5 3.85" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="accordion-description">
                <span>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum praesentium quidem exercitationem porro consectetur, vel molestias velit eius assumenda iusto.
                </span>
            </div>
        </div>
        <div class="accordion-item">
            <button class="accordion-heading">
                <span class="accordion-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                      <path d="M23.668 18.3333L28.0012 17.2499L29.0845 21.5832" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M27.9989 17.25C27.0365 19.9769 25.2885 22.358 22.9751 24.093C20.6617 25.8281 17.8864 26.8395 14.9991 26.9998C12.33 27.0003 9.72555 26.1792 7.53935 24.6481C5.35315 23.117 3.69122 20.95 2.7793 18.4416" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.33454 9.66686L2.00128 10.7502L0.917969 6.41692" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2.00195 10.75C3.82192 5.76671 9.41183 1.00012 15.0017 1.00012C17.6838 1.00766 20.2978 1.84458 22.4856 3.39615C24.6733 4.94771 26.3275 7.13797 27.2215 9.66664" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.998 8.3302V11.8197" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.5098 16.1642H17.6907" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.33008 11.8195H20.6709V18.7984C20.6709 19.0298 20.5789 19.2517 20.4153 19.4153C20.2517 19.5789 20.0299 19.6708 19.7985 19.6708H10.2024C9.97108 19.6708 9.74919 19.5789 9.58559 19.4153C9.42199 19.2517 9.33008 19.0298 9.33008 18.7984V11.8195Z" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.33008 11.8197L10.6386 9.29853C10.7797 9.01437 10.9956 8.77406 11.263 8.60344C11.5305 8.43282 11.8394 8.33835 12.1565 8.3302H17.8444C18.169 8.33037 18.4871 8.42109 18.763 8.59215C19.0388 8.76322 19.2615 9.00784 19.4059 9.29853L20.6709 11.8197" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Easy Exchange</p>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M0.5 3.85L6.65 10C6.69489 10.0478 6.74911 10.086 6.80931 10.112C6.8695 10.1381 6.9344 10.1515 7 10.1515C7.0656 10.1515 7.1305 10.1381 7.19069 10.112C7.25089 10.086 7.30511 10.0478 7.35 10L13.5 3.85" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="accordion-description">
                <span>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum praesentium quidem exercitationem porro consectetur, vel molestias velit eius assumenda iusto.
                </span>
            </div>
        </div>
        {% if block.settings.product_chart == true and block.settings.product_chart != blank %}
            <div class="accordion-item">
            <button class="accordion-heading">
                <span class="accordion-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                      <path d="M23.668 18.3333L28.0012 17.2499L29.0845 21.5832" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M27.9989 17.25C27.0365 19.9769 25.2885 22.358 22.9751 24.093C20.6617 25.8281 17.8864 26.8395 14.9991 26.9998C12.33 27.0003 9.72555 26.1792 7.53935 24.6481C5.35315 23.117 3.69122 20.95 2.7793 18.4416" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.33454 9.66686L2.00128 10.7502L0.917969 6.41692" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2.00195 10.75C3.82192 5.76671 9.41183 1.00012 15.0017 1.00012C17.6838 1.00766 20.2978 1.84458 22.4856 3.39615C24.6733 4.94771 26.3275 7.13797 27.2215 9.66664" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.998 8.3302V11.8197" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.5098 16.1642H17.6907" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.33008 11.8195H20.6709V18.7984C20.6709 19.0298 20.5789 19.2517 20.4153 19.4153C20.2517 19.5789 20.0299 19.6708 19.7985 19.6708H10.2024C9.97108 19.6708 9.74919 19.5789 9.58559 19.4153C9.42199 19.2517 9.33008 19.0298 9.33008 18.7984V11.8195Z" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.33008 11.8197L10.6386 9.29853C10.7797 9.01437 10.9956 8.77406 11.263 8.60344C11.5305 8.43282 11.8394 8.33835 12.1565 8.3302H17.8444C18.169 8.33037 18.4871 8.42109 18.763 8.59215C19.0388 8.76322 19.2615 9.00784 19.4059 9.29853L20.6709 11.8197" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Size chart</p>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M0.5 3.85L6.65 10C6.69489 10.0478 6.74911 10.086 6.80931 10.112C6.8695 10.1381 6.9344 10.1515 7 10.1515C7.0656 10.1515 7.1305 10.1381 7.19069 10.112C7.25089 10.086 7.30511 10.0478 7.35 10L13.5 3.85" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="accordion-description">
                <span class="size-content">
                    {{ product.metafields.custom.size_chart.value.content }}
                </span>
            </div>
        </div>
        {% endif %}
    </div>
</div>