{{ "component-to-top.css" | asset_url | stylesheet_tag }}

<a id="customBackToTop" href="#" class="to-top-button">
    <div class="to-top-button-icon">
        <svg class="arrow-first" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_5904_786)">
            <path d="M17.8289 17.4098C17.9992 17.4798 18.099 17.5352 18.2418 17.5353C18.3845 17.5353 18.5213 17.4787 18.6222 17.3778C18.7231 17.2769 18.7798 17.14 18.7797 16.9973C18.7796 16.8546 18.7983 16.7878 18.6755 16.5631C18.5528 16.3385 12.963 5.03918 12.963 5.03918C12.8744 4.85832 12.7368 4.70592 12.5659 4.5993C12.395 4.49268 12.1976 4.43612 11.9963 4.43604C11.7949 4.43596 11.5976 4.49238 11.4268 4.59887C11.256 4.70536 11.1185 4.85765 11.03 5.03845C11.03 5.03845 5.44857 16.4644 5.36866 16.6157C5.28876 16.767 5.25278 16.8951 5.25284 17.0378C5.25289 17.1806 5.30964 17.3175 5.4106 17.4184C5.51156 17.5194 5.64846 17.5761 5.79118 17.5762C5.9339 17.5762 5.99064 17.5521 6.20137 17.4484C6.41209 17.3447 12.0001 14.6355 12.0001 14.6355C12.0001 14.6355 17.6587 17.3397 17.8289 17.4098Z" fill="#313131"/>
          </g>
          <defs>
            <clipPath id="clip0_5904_786">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <svg class="arrow-second" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_5904_786)">
            <path d="M17.8289 17.4098C17.9992 17.4798 18.099 17.5352 18.2418 17.5353C18.3845 17.5353 18.5213 17.4787 18.6222 17.3778C18.7231 17.2769 18.7798 17.14 18.7797 16.9973C18.7796 16.8546 18.7983 16.7878 18.6755 16.5631C18.5528 16.3385 12.963 5.03918 12.963 5.03918C12.8744 4.85832 12.7368 4.70592 12.5659 4.5993C12.395 4.49268 12.1976 4.43612 11.9963 4.43604C11.7949 4.43596 11.5976 4.49238 11.4268 4.59887C11.256 4.70536 11.1185 4.85765 11.03 5.03845C11.03 5.03845 5.44857 16.4644 5.36866 16.6157C5.28876 16.767 5.25278 16.8951 5.25284 17.0378C5.25289 17.1806 5.30964 17.3175 5.4106 17.4184C5.51156 17.5194 5.64846 17.5761 5.79118 17.5762C5.9339 17.5762 5.99064 17.5521 6.20137 17.4484C6.41209 17.3447 12.0001 14.6355 12.0001 14.6355C12.0001 14.6355 17.6587 17.3397 17.8289 17.4098Z" fill="#313131"/>
          </g>
          <defs>
            <clipPath id="clip0_5904_786">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
    </div>
    <span>Back to top</span>
</a>

<script defer>
    let toTop = document.querySelector( '#customBackToTop' );
    if(toTop){
        toTop.addEventListener('mouseenter', ()=> {
            toTop.classList.add( 'hovered' )
            setTimeout(() => {
                toTop.classList.contains('hovered') ? toTop.classList.remove( 'hovered' ) : false;
            }, 1500);
        })
    }
    
    window.addEventListener("scroll",(e)=>{
      if(window.)
    })

</script>