.pagination-wrapper {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
  }
}

.pagination__list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2.38rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pagination__list > li {
  max-width: 4.4rem;
}
.page-anchor-icon {
  height:4rem;
  width:4rem;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255, 0.5);
}
.page-anchor-icon:hover,
.pagination-prev-item:hover {
  background: #1c2436;
}
.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.5rem */
  text-decoration: none;
}
.pagination-current-item {
  height: 3.5rem;
  width: 3.5rem;
  background: #1e293b;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  opacity: 1;
}
.paginate-next {
  opacity: 0.5;
}
.pagination-prev-item {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255, 0.5);
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

/* .pagination__item--current::after,
.pagination__item:hover::after {
  content: "";
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
} */

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

.icons {
  height: 2rem;
}
@media screen and (max-width: 1024px) {
  .page-anchor-icon,
  .pagination-prev-item {
    height: 4rem;
    width: 4rem;
  }

  .pagination-current-item,
  .pagination-current-item {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media screen and (max-width:640px){
  .pagination__list{
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (max-width:425px){
  .page-anchor-icon, .pagination-prev-item{
    height: 3rem;
    width: 3rem;
  }
  .pagination-current-item{
    height: 2.5rem;
    width: 2.5rem;
  }
}
