:root{
 --square-sm: 18px 
}
.newsletter__wrapper {
  position: relative;
}
.newsletter_box{
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 80px 20px;
  position: relative;
  border: 1px dashed #ffffffc1;
}
.newsletter_box .modal_squares{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
}

.newsletter_form_el{
  width: 100%;
}

.newsletter_box .modal_squares span{
  position: absolute;
  background-color: rgb(var(--color-button));
  width: var(--square-sm);
  height: var(--square-sm);
  display: inline-block;
}

.newsletter_box .modal_squares span:nth-child(1){
  top: calc(var(--square-sm) / -2);
  left: calc(var(--square-sm) / -2);;
}

.newsletter_box .modal_squares span:nth-child(2){
  top: calc(var(--square-sm) / -2);;
  left: calc(50% - calc(var(--square-sm) / -2));
}
.newsletter_box .modal_squares span:nth-child(3){
  top: calc(var(--square-sm) / -2);;
  right: calc(var(--square-sm) / -2);;
}
.newsletter_box .modal_squares span:nth-child(4){
  bottom: calc(var(--square-sm) / -2);;
  right: calc(var(--square-sm) / -2);;
}
.newsletter_box .modal_squares span:nth-child(5){
  bottom: calc(var(--square-sm) / -2);;
  left: calc(50% - calc(var(--square-sm) / -2));
}
.newsletter_box .modal_squares span:nth-child(6){
  bottom: calc(var(--square-sm) / -2);;
  left: calc(var(--square-sm) / -2);;
}

.newsletter-headding{
  margin: 0;
  font-weight: 700;
  max-width: 700px;
  margin: auto;
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

@media screen and (max-width: 767px) {
  .newsletter_box{
    padding: 60px 20px;
  }
}

@media screen and (max-width: 480px) {
  .newsletter_box{
    padding: 60px 20px;
  }

  .newsletter__wrapper{
    background-size: 600px;
  }
}
