.related-articles {
  position: relative;
}
.related-articles .heading {
  transform: translate(0px, 46px);
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.related-articles .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.related-articles .swiper-button-next,
.swiper-button-prev {
  height: 4rem !important;
  width: 4rem !important;
  border: 2px solid #ffffff85;
  border-radius: 50%;
  padding: 1rem;
}
.related-slide-article {
  padding: 6rem 0 !important;
}

.related-articles .swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #0f172a;
}

.related-articles .swiper-button-next svg {
  height: 2rem;
}
.related-articles .swiper-button-prev svg {
  height: 2rem;
  transform: rotate(180deg);
}
.related-articles .swiper-button-prev {
  top: 22px;
  left: auto;
  right: 79px;
}
.related-articles .swiper-button-next {
  top: 22px;
  left: auto;
  right: 0;
}
.related-articles .swiper-button-prev:focus {
  background: #1e293b;
}
.related-articles .swiper-button-next:focus {
  background: #1e293b;
}
.swiper-wrapper .swiper-slide-card {
  margin-right: 5rem !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -6px) !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .related-slide-article {
    padding: 6rem 0 !important;
  }
  .related-articles .swiper-button-prev {
    right: 79px;
  }
  .swiper-wrapper .swiper-slide-card {
    margin-right: 3rem !important;
  }
}
@media screen and (max-width: 640px) {
  .related-articles .swiper-button-prev {
    left: 17rem !important;
    bottom: 0 !important;
    top: 86% !important;
  }
  .related-articles .swiper-button-next {
    right: 17rem !important;
    bottom: 0;
    top: 86% !important;
  }
  .swiper-wrapper .swiper-slide-card {
    margin-right: 2rem !important;
  }
  .related-articles .heading {
    font-size: 2.45rem;
    transform: translateY(60px);
  }
  .related-slide-article {
    padding: 6rem 0 8rem 0 !important;
  }
}
@media screen and (max-width: 580px) {
  .related-articles .swiper-button-prev {
    left: 15rem !important;
    bottom: 0 !important;
  }
  .related-articles .swiper-button-next {
    right: 15rem !important;
    bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .related-articles .swiper-button-prev {
    left: 10rem !important;
    bottom: 0 !important;
  }
  .related-articles .swiper-button-next {
    right: 10rem !important;
    bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  .swiper-wrapper .swiper-slide-card {
    margin-right: 16px !important;
  }
  .related-articles .swiper-button-prev {
    left: 7.5rem !important;
    bottom: 0 !important;
  }
  .related-articles .swiper-button-next {
    right: 7.5rem !important;
    bottom: 0;
  }
}
@media screen and (max-width: 360px) {
  .related-articles .swiper-button-prev {
    left: 7rem !important;
    bottom: 0 !important;
  }
  .related-articles .swiper-button-next {
    right: 7rem !important;
    bottom: 0;
  }
}
